//Component
//title
%title{
  color: $titleColor;
  font-size: 16px;
  font-weight: $fontBold;
}

.section-title{
  @extend  %title;
}
.page-title{
  @extend %title;
  text-transform: uppercase;
}
// links
.link{
  font-size: $linkFontSizeDefailt;
  color: $linkColor;

  &.large-link{
    font-size: $linkLargeFont;
  }
  &:hover{
    color: $linkHoverColor
  }
}

//buttons
.btn{
  font-size: $btnFontSize;
  padding: 12px 22px;
  color: $btnDeafultColor;
  border-radius: 2px;
  display: inline-block;

  &.btn-default{
    background-color: $btnDefaultBg;

    &:hover{
      background-color: $btnDefaultBgHover;
    }
  }

  &.btn-action{
    background-color: $btnActionBg;

    &:hover{
      background-color: $btnActionBgHover;
    }
  }

  &.btn-disabled{

    background-color: $btnDisabledBg;
    cursor: not-allowed;
    &:hover{
      background-color: $btnDisabledBgHover;
    }
  }
}
