.text-bold{
  font-weight: $fontBold;
}
.black-bg{
  background-color: #333;
}
.darkGray-bg{
  background-color: #979797;
}
.gray-bg{
  background-color: #bababa;
}
.lightGray-bg{
  background-color: #e3e3e3;
}
.xsLightGray-bg{
  background-color: #f5f5f2;
}
.circle-bg{
  background-color: #80bfca;
}